.dropbtn {
    background: linear-gradient(#75d8ff, #0077ff) no-repeat center fixed;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid black;
    border-color: white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(#75d8ff, #0077ff) no-repeat center fixed;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #FAFAFA;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
    display: block;
  }
  
  .dropdown-content a:hover {
    background: linear-gradient(#75d8ff, #0077ff) no-repeat center fixed;
    border: 1px solid black;
    border-color: white;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background: linear-gradient(#75d8ff, #0077ff) no-repeat center fixed;}
  body{
      background: linear-gradient(#75d8ff, #0077ff) no-repeat center fixed;
      background-size: cover;
      max-width: 550px;
      margin: auto;
      align-items: center;
    justify-content: center;
  }
  
  h1, h3, p{
      color: rgb(250, 250, 250);
      font-family: 'Epilogue', sans-serif;
  }
  
  .chart{
      background: linear-gradient(#75d8ff, #0077ff) no-repeat center fixed;
      width: 550px;
      border-width: 0px;
      border-style: solid;
      border-radius: 5px;
      margin: auto;
  }

  .container {
    background: linear-gradient(#75d8ff, #0077ff) no-repeat center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
} 