.dropbtn {
    background: linear-gradient(#282828, #181818) no-repeat center fixed;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid black;
    border-color: #B3B3B3;
    font-family: 'Epilogue', sans-serif;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#282828, #181818) no-repeat center fixed;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #FAFAFA;
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
    display: block;
  }
  
  .dropdown-content a:hover {
    background: linear-gradient(#282828, #181818) no-repeat center fixed;
    border: 1px solid black;
    border-color: white;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background: linear-gradient(#282828, #181818) no-repeat center fixed;}
  body{
      background: linear-gradient(#282828, #181818) no-repeat center fixed;;
      background-size: cover;
      max-width: 550px;
      margin: auto;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
      transform: translateZ(1px);
  }

  h1{
    color:#FAFAFA;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
  } 
  h3, p{
      color: #B3B3B3;
      font-family: 'Epilogue', sans-serif;
      text-align: center;
  }
  
  .chart{
      background: #404040;
      border-width: 0px;
      border-style: solid;
      border-radius: 5px;
      margin: 0px auto;
      color: #FEFEFE;
      transform-style: preserve-3d;
      transform: perspective(1000px);
      transition: 0.5s ease;  
  }
  .chart:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .container {
    background: linear-gradient(#282828, #181818) no-repeat center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.rgb::after {
  content:"";
  background: linear-gradient(45deg,
  #ff0000 0%, 
  #ff9a00 10%,
  #d0de21 20%,
  #4fdc4a 30%, 
  #3fdad8 40%,
  #2fc9e2 50%, 
  #1c7fee 60%, 
  #5f15f2 70%, 
  #ba0cf8 80%, 
  #fb07d9 90%, 
  #ff0000 100%  )
  repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px); /*or z-index */
  animation: rgb 6s linear infinite;
}
@keyframes rgb {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 250px;
}

.loader > span {
  display: inline-block;
  background-color: #0085C7;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 8px;
  animation: bounce 1s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color: #F4C300;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
  background-color: #000000;
}

.loader > span:nth-child(4) {
  animation-delay: 0.6s;
  background-color: #009F3D;
}

.loader > span:nth-child(5) {
  animation-delay: 0.8s;
  background-color: #DF0024;
}

@keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}

.main {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;

}