body {
    background: linear-gradient(#282828, #181818) no-repeat center fixed;
    background-size: cover;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }
 /* Set scrollbar to be thinner and change colour */ 
  body::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #282828;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #5643fd;
  }
 /* Set text colours and font */ 
  h1, h2 {
    color: #FAFAFA;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
  }
  
  h3, p {
    color: #B3B3B3;
    font-family: 'Epilogue', sans-serif;
    text-align: center;
  }
 /* Allows a space for my charts to go onto */ 
  .chart {
    background: #404040;
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    margin: 0px auto;
    color: #FEFEFE;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: 0.5s ease;
    max-width: 350px;
  }
 /* Styles my selectors and sliders in my charts */ 
  .vega-bind-name {
    color: #FEFEFE;
    font-family: 'Epilogue', sans-serif;
  }
  
  .vega-bind label span {
    color: #FEFEFE;
    font-family: 'Epilogue', sans-serif;
  }
  
  .vega-bind label select {
    color: #FEFEFE;
    font-family: 'Epilogue', sans-serif;
  }
  
  .vega-bind select {
    background-color: transparent;
  }
  
  .vega-bind select option {
    background-color: #404040;
  }
  /* Prevents charts from lining up horizontally*/
  .container {
    background: linear-gradient(#282828, #181818) no-repeat center fixed;
    display: flex;
  }
  /* RGB animation effect that goes behind my charts and cards*/
  .rgb::after {
    content: "";
    background: linear-gradient(45deg,
        #ff0000 0%,
        #ff9a00 10%,
        #d0de21 20%,
        #4fdc4a 30%,
        #3fdad8 40%,
        #2fc9e2 50%,
        #1c7fee 60%,
        #5f15f2 70%,
        #ba0cf8 80%,
        #fb07d9 90%,
        #ff0000 100%) repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    z-index: -1;
    animation: rgb 6s linear infinite;
  }
  
  @keyframes rgb {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  /* Styles how my loading balls should look */
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;
  }
  
  .loader>span {
    display: inline-block;
    background-color: #0085C7;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 8px;
    animation: bounce 0.65s infinite alternate;
  }
  
  .loader>span:nth-child(2) {
    background-color: #F4C300;
    animation-delay: 0.13s;
  }
  
  .loader>span:nth-child(3) {
    animation-delay: 0.26s;
    background-color: #000000;
  }
  
  .loader>span:nth-child(4) {
    animation-delay: 0.39s;
    background-color: #009F3D;
  }
  
  .loader>span:nth-child(5) {
    animation-delay: 0.52s;
    background-color: #DF0024;
  }
 /* Makes each ball bounce */ 
  @keyframes bounce {
    to {
      width: 16px;
      height: 16px;
      transform: translate3d(0, -16px, 0);
    }
  }
  /* Fades my content in once loading screen has finished */
  .main {
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in;
  }
  /* All styling for my side navigation bar */
  .navigation {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(#282828, #181818) no-repeat center fixed;
    transition: 0.5s;
    overflow: hidden;
    color: #FEFEFE;
    font-family: 'Epilogue', sans-serif;
  }
  
  .navigation:hover,
  .navigation.active {
    width: 300px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
  }
  
  .navigation ul li:hover {
    background: #181818;
    transition: 0.5s ease;
    color: #ff0000
  }
  
  .navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #FAFAFA;
  }
  
  .navigation ul li a:hover {
    color: #5643fd;
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  
  .navigation ul li a .icon .fa {
    font-size: 24px;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
  
  .toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: linear-gradient(#282828, #181818) no-repeat center fixed;
    cursor: pointer;
  }
  
  .toggle.active {
    background: linear-gradient(#282828, #181818) no-repeat center fixed;
    transition: 0.5s ease;
  }
  
  .toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #FEFEFE;
  }
  
  .toggle.active:before {
    content: '\f057';
  }
  /* Media queries that allow both a stable mobile and desktop version of my website*/
  @media (max-width: 700px) {
    .navigation {
      left: -60px;
      z-index: 1;
    }
  
    .navigation.active {
      left: -60px;
      width: 700px;
      height: 100%;
      z-index: 1;
    }
  
    .navigation:hover {
      width: 700px;
    }
  
    .toggle, .toggle.active, .toggle.active:before, .toggle:before {
      z-index: 1;
    }
  
    div.rest {
      left: -275px;
      margin-left: 30px;
      margin-right: 50px;
      position: absolute;
    }
  }
  
  div.rest {
    margin-left: 300px;
    margin-right: 50px;
    padding: 1px 16px;
  }